{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Obriši konzumaciju</h2>
        <p>Da li ste sigurni da želite da obrišete konzumaciju ispod?</p>
        <p>- Namirnica: {{ consumption.food.name }}</p>
        <p>- Količina: {{ consumption.quantity_grams }}g</p>
        <p>- Datum: {{ consumption.date|date:"d.m.Y." }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Da, obriši</button>
            <a href="{% url 'food_list' %}" class="btn btn-secondary">Ne</a>
        </form>
    </div>
</div>

{% endblock %}
