asgiref==3.8.1
certifi==2020.12.5
dj-database-url==2.3.0
Django==4.2.16
django-appconf==1.0.6
django-filter==24.3
django-heroku==0.3.1
django-select2==8.2.1
gunicorn==23.0.0
importlib_metadata==8.7.0
numpy==2.0.2
opencv-python-headless==4.11.0.86
packaging==24.1
pillow==11.1.0
psycopg2==2.9.10
pygal==3.0.5
pyzbar==0.1.9
six==1.15.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.7.0
zipp==3.23.0
