{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Kategorija</th>
                    <th>Period</th>
                    <th>Iznos</th>
                </tr>
            </thead>
            <tbody>
                {% for budget in budgets %}
                    <tr>
                        <td>{{ budget.category|safe }}</td>
                        <td>{{ budget.start_date|date:"d.m.Y" }} - {{ budget.end_date|date:"d.m.Y" }}</td>
                        <td>{{ budget.amount|floatformat:2|intcomma }} RSD</td>
                    </tr>
                {% empty %}
                    <tr>
                            <td colspan="6" class="text-center">Nema rezultata.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
