.income {
    background-color: #d4edda;
    color: #155724;
}

.expense {
    background-color: #f8d7da;
    color: #721c24;
}

.basic-form label {
    min-width: 130px;
}

.basic-form h2 {
    margin-bottom: 20px;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}
