.income {
    background-color: #d4edda;
    color: #155724;
}

.expense {
    background-color: #f8d7da;
    color: #721c24;
}

.basic-form label {
    min-width: 130px;
    margin-right: 15px;
}

.basic-form h2 {
    margin-bottom: 20px;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}

#navbarNav a {
    font-size: 18px;
}

tr.income td, tr.expense td {
    vertical-align: middle;
}

tr.income td.links, tr.expense td.links {
    padding: 0;
}

tr.income td.links a, tr.expense td.links a {
    padding: 15px 20px;
}

tr.income td.links a:last-of-type, tr.expense td.links a:last-of-type {
    padding-right: 0;
}

input[type="checkbox"] {
    transform: scale(1.3);
}

.datepicker-dropdown {
    min-width: 300px !important;
    padding: 8px;
}

.datepicker table {
    width: 100%;
}

.datepicker th, .datepicker td {
    padding: 8px;
}
