{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3>Treninzi</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Datum</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                {% for training in trainings %}
                    <tr>
                        <td>
                            <a href="{% url 'training_detail' training.pk %}" class="text-decoration-none text-reset">
                                <span style="text-decoration: underline">{{ training }}</span>
                            </a>
                        </td>
                        <td>{{ training.date|date:"d.m.Y" }}</td>
                        <td class="links">
                            <a href="{% url 'training_update' training.pk %}" class="btn">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a href="{% url 'training_delete' training.pk %}" class="btn">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">Nema rezultata.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
